.btn {
	border-color: hsl(var(--border));
	margin: 0;
	display: inline-flex;
	height: 2.5rem;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border-radius: 0.375rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
}

.btn:disabled {
	background-color: hsl(var(--muted));
	border-color: hsl(var(--border));
	pointer-events: none;
	cursor: not-allowed;
}

.btn *, .btn:focus {
  box-shadow: none !important;
}

.btn-primary {
	color: hsl(var(--primary-foreground));
	background-color: hsl(var(--primary));
}

.btn-primary:hover {
	color: hsl(var(--primary-foreground));
	background-color: hsl(var(--primary) / 0.8);
	border-color: hsl(var(--ring));
}

.btn-primary svg {
	color: hsl(var(--primary-foreground));
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: hsl(var(--primary));
	background-color: hsl(var(--primary));
	border-color: hsl(var(--border));
}

.btn-secondary {
	color: hsl(var(--secondary-foreground));
	background-color: hsl(var(--secondary));
	border-color: hsl(var(--border));
}

.btn-secondary:hover {
	color: hsl(var(--secondary-foreground));
	background-color: hsl(var(--secondary) / 0.8);
	border-color: hsl(var(--ring));
}

.btn-secondary svg {
	color: hsl(var(--secondary-foreground));
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	color: hsl(var(--secondary-foreground));
	background-color: hsl(var(--background));
	border-color: hsl(var(--border));
}

.btn-danger {
	color: hsl(var(--destructive-foreground));
	background-color: hsl(var(--destructive));
	border-color: hsl(var(--border));
}

.btn-danger:hover {
	color: hsl(var(--destructive-foreground)) !important;
	background-color: hsl(var(--destructive) / 0.8) !important;
	border-color: hsl(var(--border));
}

.btn-danger svg {
	color: hsl(var(--primary));
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: hsl(var(--destructive-foreground));
	background-color: hsl(var(--destructive) / 0.7);
	border-color: hsl(var(--border));
}