:root {
	--background: 240 10% 3.9%;
	--foreground: 0 0% 98%;

	--card: 240 10% 3.9%;
	--card-foreground: 0 0% 98%;

	--popover: 240 10% 3.9%;
	--popover-foreground: 0 0% 98%;

	--primary: 0 0% 98%;
	--primary-foreground: 240 5.9% 10%;

	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: 0 0% 98%;

	--muted: 240 3.7% 15.9%;
	--muted-foreground: 240 5% 64.9%;

	--accent: 240 3.7% 15.9%;
	--accent-foreground: 0 0% 98%;

	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;

	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 240 4.9% 83.9%;
}

@font-face {
	font-family: 'Geist';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('./fonts/Geist-Thin.woff') format('woff2');
}
@font-face {
	font-family: 'Geist';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./fonts/Geist-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Geist';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/Geist-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Geist';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./fonts/Geist-Bold.woff2') format('woff2');
}

* {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 400;

	font-family: 'Geist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke !important;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

body {
	color: hsl(var(--primary));
	background: hsl(var(--background));
}

.container-fluid {
	padding: 15px;
}

svg[data-icon='heart'] {
	color: #ff5e5e !important;
}

.search-item {
	background-color: hsl(var(--background));
	border: 1px solid hsl(var(--border));
	border-radius: 0.5rem;
}

/* [Studios tab] Changes the layout of studio cards */
.studio-card-image {
	object-fit: cover;
}

.studio-card.grid-card.card div.card-section div.rating-banner { display: none; }
.slick-slide .studio-card-image { height: 300px; }
 
.studio-card, .recommendation-row .studio-card {
    padding: 0;
    width: 500px;
    height: 300px;
}
 
.studio-card-image, .recommendation-row .studio-card .studio-card-image {
    max-height: 300px;
    width: 500px;
}
 
.studio-card.grid-card.card div.card-section {
    position: absolute;
    bottom: 0em;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    height: 2.5em;
    transition: 0.5s ease-in-out;
}
 
.studio-card.grid-card.card div.card-section:hover {
    height: 7em;
}

@media (max-width: 576px) {
	.detail-container {
		display: flex;
		flex-direction: column;
	}
}

.detail-header {
	background-color: hsl(var(--muted)/.50);
}

.detail-header-image button {
	height: 100%;
}
