.clearable-text-field,
.clearable-text-field:active,
.clearable-text-field:focus,
.input-control,
.input-control:focus,
.input-control:disabled,
.bg-secondary {
	background-color: hsl(var(--background)) !important;
}

.border-secondary {
	border-color: initial !important;
}

.clearable-text-field,
.clearable-text-field:active,
.clearable-text-field:focus,
.form-control {
	border: 1px solid hsl(var(--muted));
	color: hsl(var(--foreground) / 0.5) !important;
	border-radius: 0.5rem;
}

.form-control:focus,
.form-control:active {
	border: 1px solid hsl(var(--ring)) !important;
	border-color: hsl(var(--ring)) !important;
	color: hsl(var(--primary)) !important;
	box-shadow: none;
}

.query-text-field-clear,
.query-text-field-clear:hover {
	border: 0;
	background-color: transparent;
}

.query-text-field-clear:active,
.query-text-field-clear:hover {
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.7));
}
