.popover {
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--border));
  border-radius: 0.75rem;
  padding: 1rem 0.5rem;
}

.bs-popover-bottom>.arrow:after, .bs-popover-auto>.arrow:after {
  border-bottom-color: hsl(var(--muted));
}