::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: rgba(137, 137, 137, 0.15);
}

::-webkit-scrollbar-thumb {
	background-color: #454545;
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #464646;
}

::-webkit-scrollbar-corner {
	background: transparent;
}