@media (max-width: 768px) {
	.setting {
		display: grid !important;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
	}
}

#settings-container,
#settings-menu-container {
	margin-top: 1rem;
}

#settings-container {
	border-left: 1px solid hsl(var(--border));
}

.setting-section .sub-heading,
.setting .sub-heading {
	font-size: 1.2rem;
	color: hsl(var(--muted-foreground));
}

.setting-section .setting:not(:last-child),
.setting-section .setting-group:not(:last-child) {
	border-bottom: 1px solid hsl(var(--border));
}

.setting-section .setting > div:last-child {
	min-width: unset;
}

.setting-section .setting-group .setting > div:last-child {
	margin: 0;
	min-width: auto;
}

#tasks-panel .tasks-panel-queue {
	position: static;
	border-radius: 0.75rem;
	margin: 0;
	margin-bottom: 1rem;
	padding: 1rem;

	background-color: hsl(var(--card));
	border: 0.05rem solid hsl(var(--border));
}

.tasks-panel-queue h1 {
	line-height: 6rem;
}

.job-table.card {
	background-color: hsl(var(--muted));
}

.setting-section h1 {
	padding-left: 1rem;
	line-height: 5rem;
}

.setting-group-collapse-button {
	aspect-ratio: 1/1;
	border-radius: 0.5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: hsl(var(--accent));
}

.nav-item a:hover {
	color: hsl(var(--accent-foreground)) !important;
	text-decoration: underline;
}

.advanced-switch {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.advanced-switch label {
	margin: 0;
}

.advanced-switch .custom-switch {
	display: flex;
}
