.custom-switch {
  padding-left: 0;
}

.custom-control-input:checked ~ .custom-control-label:before {
  border-color: initial;
  background-color: initial;
}

.custom-switch
  .custom-control-input:disabled:checked
  ~ .custom-control-label:before {
  background-color: initial;
}

.custom-control-label:before, .custom-control-label:after {
	scale: 1.45;
}

.custom-switch .custom-control-label:before {
	left: -2.15rem;
}