.nav-tabs .nav-link.active {
	color: hsl(var(--primary));
}

.movie-tabs,
.tag-tabs,
.performer-tabs,
.studio-tabs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tab-content {
  width: 100%;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	background-color: hsl(var(--background));
	border-color: hsl(var(--border));
  border-radius: 0.5rem;
}

.nav-tabs .nav-link.active:hover {
  border-bottom-color: transparent;
  cursor: pointer;
}

.nav-tabs .nav-link:hover {
  border-bottom: transparent;
  background-color: hsl(var(--background)/.50);
}

.detail-body nav {
	background: hsl(var(--background));
	padding: 0.25rem;
	border-radius: 0.5rem;
	width: fit-content;
	background-color: hsl(var(--muted));
  margin: 1rem;
  gap: 0.5rem;
}

.tab-content {
  border-top: 1px solid hsl(var(--border))
}