.form-container {
  background: hsl(var(--card)) !important;
}

#scene-edit-details .form-control {
  color: hsl(var(--primary)) !important;
}

.organized-button.organized svg {
  color: #664c3f !important;
}

.package-manager table thead {
  background-color: hsl(var(--secondary));
}

.package-manager table thead tr {
  border-radius: 0.5rem;
}